submit_driver.sh
driver_logfile.txt
submit_initializer.sh
initialization_logfile.txt
output/*
ensemble/member*
ensemble/README.txt
DART/ensemble_members.txt
marbldart_jointdemo.e*
marbldart_jointdemo.o*
marbldart_joint_init.e*
marbldart_joint_init.o*
clean
reset_ensemble
DART/dart_log.out
DART/*.txt
DART/*.nc
