MARBL_test.o*
*/available_diags.000000
*/CPU_stats
*/exitcode
*/logfile.000000.out
*/MOM_parameter_doc.*
*/ocean.stats
*/time_stamp.out
*/MARBL_test.o*
explain_the_date_to_me
BATS_param_1
BATS_param_2
BATS_param_3
BATS_param_4
BATS_param_alpha
BATS_param_no3
BATS_param_pcref
BATS_param_zumax
BATS_param_estimation_tmp

